:root {
  --white-color: #ffffff;
}

body {
  font-family: Montserrat !important;
}

/* Hero start */
.bg_img {
  background-image: linear-gradient(
      to right bottom,
      rgba(29, 30, 30, 0.1),
      rgb(7, 14, 22)
    ),
    url('../images/hero1.png') !important;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
  background: #050505;
}

.bg_img h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.bg_img .about {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
  color: var(--white-color);
  margin-top: -280px;
}

.forms .form-control {
  height: 70px;
  background: #000000;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 24px;
  color: rgba(229, 229, 229, 0.4);
}

.forms .btn-danger {
  height: 70px;
  background: #ff0000;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid #ff0000;
}

@media (max-width: 1125px) {
  .bg_img .about {
    margin-top: -100px !important;
  }
}

@media (max-width: 768px) {
  .bg_img .about {
    margin-top: 60px !important;
  }
}

@media (max-width: 992px) {
  .bg_img .about {
    margin-top: 40px !important;
  }
}

/* Hero end */
